



<section class="h-100 bg-dark">
  
  <div class="container py-5 h-100">
    <div id="pdfTable">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <!-- <div class="col-xl-6 d-none d-xl-block">
              <img [src]="cle" alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div> -->
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Demande de stage</h3>
                <p>Cher Monsieur;
                  Nous tenons à vous remercier pour votre honorable participation dans le développement des
                  Compétences professionnelles de nos étudiants(e), ainsi pour l'esprit que vous déployez pour
                  consolider leurs formations.
                  Dans ce cadre, I'ISET de Kasserine vous propose d accorder pour I etudiant(e) concerne(e)
                  Un stage de fomation d'un mois. Et ce ci durant la période allant du 17/01/2022 au 13/02/2022
                  En effet ct en vue de nous permettre l'affectation de l'étudiant (e) concerné(e), nous vous
                  prions de bien vouloir nous communiquer votre proposition dans les plus proches délais.
                  Veuillez agréer, Monsieur, toute notre gratitude ei tout potre respect.</p>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m">Nom et Prénom</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Nom de sociéte</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m1">Classe </label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n1">Adress E_mail</label>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example8" class="form-control form-control-lg" />
                  <label class="form-label" placholder="name@gmail.com/+216*********" for="form3Example8">Address
                    mailnuméro de portable</label>
                </div>

                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                  <h6 class="mb-0 me-4">Binome : &nbsp; </h6>
                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                      value="option1" />
                    <label class="form-check-label" for="femaleGender">Oui</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                      value="option2" />
                    <label class="form-check-label" for="maleGender">Non</label>
                  </div>


                </div>


                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m1">sociéte </label>
                    </div>
                  </div>
<p>Nous venons par la présence, confirmer l'acceptation de l'étudiant (e) concerné(e) pour un
  stage(Obligatoire) durant la période fixée ci-dessus.
  Cachet et Signature</p>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <button id="" name="" class="btn btn-primary"(click)="generatePdf();">imprimer</button>

  </div>
</div>

</section>
